
main, html {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #cdd0d0;
}
#card {
    width: 45%;
    height: 80%;
    margin-top: 10%;
    margin-left: 50%;
    background-color: #f3fafa;
}
#card1 {
    width: 45%;
    height: 80%;
    margin-top: 10%;
    background-color: #f3fafa;
}
#card2 {
    width: 45%;
    height: 100%;
    margin-top: 2%;
    margin-left: 50%;
    background-color: #f3fafa;
}
#card3 {
    width: 45%;
    height: 100%;
    margin-top: 2%;
    background-color: #f3fafa;
}
#img1 { width: 100px;
    height: 100px;
    margin: 10px;
}
#img2 { width: 100px;
    height: 100px;
    margin: 10px;
}
#img3 { width: 100px;
    height: 100px;
    margin: 10px;
}
#img4 { width: 100px;
    height: 100px;
    margin: 10px;
}
.push {
    list-style: none;
    font-size: 0.8em;
    font-family: "Arial";
}
.push li {
    position: relative;
    padding: 20px 0 20px 40px;
    color: #110d04;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
}
.push li:before {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #46c494;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 27px;
    box-shadow: 2px 2px 7px gray;
}
.push li:after {
    position: absolute;
    border-left: 1px dotted #36885f;
    width: 2px;
    bottom: -8px;
    content: "";
    left: 7px;
    top: 48px;
}
.push li:hover:before{box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2)
}
.push li:last-child:after {content: none;}