
#head{
    color: #17131e;
}

main, html {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #deecec;
}

.red{
    border-left: 4px solid #e53838;
}

.yellow {
    border-left: 4px solid #fcd349;
}

.green {
    border-left: 4px solid #84ab57;
}
